/* Content */
		.content-a {
			max-width: 1200px; /* Limits the width of the content section to 900px for readability */
			margin: 140px auto 10px auto; /* Adds 140px top margin, centers horizontally (auto), and 10px bottom margin */
			padding: 20px; /* Adds 20px padding inside the content box */
			background-color: rgba(0, 0, 0, 0.8); /* Sets a semi-transparent black background */
			border-radius: 10px; /* Rounds the corners by 10px */
		}
		.content {
			max-width: 1200px; /* Limits the width of the content section to 900px for readability */
			margin: 10px auto 10px auto; /* Adds 120px top margin, centers horizontally (auto), and 50px bottom margin */
			padding: 20px; /* Adds 20px padding inside the content box */
			background-color: rgba(0, 0, 0, 0.8); /* Sets a semi-transparent black background */
			border-radius: 10px; /* Rounds the corners by 10px */
		}
		.content-section {
            display: flex;
			flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 10px;
        }
		.text-content {
			width: 100%;
			text-align: left;
		}
        .reverse {
            flex-direction: row-reverse;
        }
        h1, h2 {
			font-size: 1.4em; /* Sets the font size to 1.2 times the default size */
        }
        p {
            text-align: justify; /* Aligns text evenly to both left and right edges */
			line-height: 1.8; /* Increases spacing between lines for better readability */
			font-size: 1.2em; /* Sets the font size to 1.2 times the default size */
        }
        .console-image {
            width: 100%;
            max-width: 700px;
            display: block;
            margin: 10px auto;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
        }